// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  background: url('../images/brewery.jpeg') no-repeat;
  background-size: cover;
}

button.close {
  margin-right: 25px;
  margin-top: 25px;
  width: 50px
  height: 50px;
  color: red;
  opacity: 1;
}

div#exit {
  background-color: rgba(0, 0, 0, 1);
}

div#beer-details {
  background-repeat: no-repeat;
  height: 70%;
  width: 95%;
  margin: auto;
  margin-top: 100px;
  background: white;
  border: 3px solid black;
  border-radius: 5px;
  background-size: cover;
}

.form-group input[type="text"] {
  border-radius: 50px;
  border: 2px solid black;
  font-size: 4rem;
  height: 100px;
  text-align: center;
}

i.fa-beer {
  color: black;
}

li {
  list-style-type: none;
}

.navbar-default .navbar-brand {
  font-family: 'Orbitron';
  font-size: 30px;
  color: darkred;
  text-shadow: 1px 1px teal;
}

.navbar {
  margin-bottom: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
}

.animate-repeat.ng-enter{
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.animate-repeat.ng-enter {
  opacity:0;
  max-height:0;
}

.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
  max-height:40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border: 2.5px solid black;
  border-bottom: 1px solid #e5e5e5;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  .form-group input[type="text"] {
    border-radius: 50px;
    border: 2px solid black;
    font-size: 4rem;
    height: 100px;
    text-align: center;
  }

  div#beer-details {
    width: 70%;
  }

  button.search {
    margin-top: 38px;
    width: 300px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }

}

div#beer-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
}

div#overlay-timeout {
  height: 100%;
  width: 100%;
}

div#gif {
  background-repeat: no-repeat;
  height: 40%;
  width: 95%;
  margin: auto;
  margin-top: 100px;
  border: 3px solid black;
  border-radius: 5px;
  background-size: cover;
}

@media (min-width: 750px) {
  div#gif {
    height: 50%;
    width: 50%;
  }
}
