<div id="beer-overlay">
  <div id="exit">
    <button class="btn btn-default close" ng-click="exitBeer()"><i class="fa fa-times-circle fa-2x"></i></button>
  </div>
  <div id="overlay-timeout">
    <div id="gif">
      <div class="progress">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
          BREWING
        </div>
      </div>
    </div>
  </div>
  <div id="beer-details">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="card card-block">
          <div class="beer-img">
            <img src="{{brewery.brewery_label}}">
            <h3 class="card-title">{{beer.beer_name}}</h3>
          </div>
          <p ng-show="beer.beer_abv" class="card-text"><strong>ABV:</strong> {{beer.beer_abv}}%</p>
          <p ng-show="brewery.brewery_name" class="card-text"><strong>Brewery:</strong> {{brewery.brewery_name}}</p>
          <p ng-show="brewery.location" class="card-text"><strong>Location:</strong> {{brewery.location.brewery_city}}, {{brewery.location.brewery_state}}</p>
          <p ng-show="beer.beer_description" class="card-text"><strong>Description: </strong>{{beer.beer_description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
