<div class="jumbotron">
  <div class="row text-center">
    <form class="navbar-form" role="search" ng-submit="searchMovies()">
      <div class="form-group col-md-6 col-md-offset-3">
        <input type="text" class="form-control" ng-model="titles" placeholder="Movie Title">
      </div>
      <button type="submit" class="btn btn-lg btn-success col-md-6 col-md-offset-3">Search</button>
    </form>
  </div>
  <p class="lead">
  </p>

  <div class="row">
    <ul ng-if="movies" class="col-md-12" data-movie-slide-down="{{movies}}" id="movie-list">
      <li ng-repeat="movie in movies">
        <button class="btn btn-default" ng-click="getMovie(movie.Title, movie.Year)">{{movie.Title}} ({{movie.Year}})</button>
      </li>
    </ul>
    <div ng-if="movie.Title">
      <p data-movie-fade-in="{{movie}}">{{movie.Title}} <span ng-if="movie.Year">({{movie.Year}})</p>
      <button class="btn btn-default"><i class='fa fa-beer'></i> Brew</button>
    </div>
  </div>
</div>
