<div class="jumbotron">
  <div class="row text-center">
    <form class="navbar-form" role="search" ng-submit="searchMovies()">
      <div class="form-group col-md-6 col-md-offset-3">
        <input type="text" class="form-control" ng-model="titles" placeholder="Movie Title">
      </div>
      <button type="submit" class="btn btn-lg btn-success col-md-6 col-md-offset-3">Brew</button>
    </form>
  </div>
  <p class="lead">
  </p>
  <ul ng-if="movies">
    <li ng-repeat="movie in movies">
      <button ng-click="getMovie(movie.Title, movie.Year)">{{movie.Title}} ({{movie.Year}})</button>
    </li>
  </ul>

  <h1>{{movie}}</h1>
</div>
